@charset "UTF-8";

/****** Variables ****** */
$cyan: #0091ae;
$light-black: #33475b;
$light-grey: #f5f8fa;
$dark-grey: #cbd6e2;
$orange: #ff7a59;

$font-color: $light-black;
$font-main: AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
$background-color: #f3f3f3;
$footer-color: #33475b;